Source: rinse
Maintainer: Thomas Lange <lange@debian.org>
Section: admin
Priority: extra
Standards-Version: 3.9.1.0
Build-Depends: debhelper (>= 4.0.0)
Homepage: http://www.steve.org.uk/Software/rinse/
Vcs-Hg: http://rinse.repository.steve.org.uk/
Vcs-Browser: http://rinse.repository.steve.org.uk/

Package: rinse
Architecture: all
Depends: wget, libterm-size-perl, libwww-perl, perl-modules, rpm
Description: RPM installation environment
 This is a tool for bootstrapping a basic RPM-based distribution of
 GNU/Linux.
 .
 It is comparable in purpose to the standard Debian debootstrap utility,
 but works upon RPM-based distributions instead.
 .
 Rinse can setup 32 and 64-bit installations of:
  * CentOS 4 & 5.
  * Fedora Core 4, 5, 6, 7, 8 & 9.
