Source: rinse
Maintainer: Steve Kemp <skx@debian.org>
Section: admin
Priority: extra
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 4.0.0)

Package: rinse
Architecture: all
Depends: wget, libterm-size-perl, libwww-perl, perl-modules, rpm
Description: RPM installation environment
 This is a tool for bootstrapping a basic RPM-based distribution of
 GNU/Linux.
 .
 It is comparable in purpose to the standard Debian debootstrap utility,
 but works upon RPM-based distributions instead.
 .
 Rinse can setup 32 and 64-bit installations of:
  * CentOS 4 & 5.
  * Fedora Core 4, 5, 6, & 7.
 .
 Homepage: http://xen-tools.org/software/rinse
